body {
  font-family: "DotGothic16", sans-serif;
  font-family: "Uchen", serif;
}

.App {
  margin: 20px;
}

.btn-info {
  margin-top: 25px;
  margin-bottom: 25px;
  color: rgb(241, 231, 231);
  box-shadow: 5px 5px 10px #bebaba;
  transition: ease-in-out 200ms;
}

li {
  list-style: none;
}

.temperature {
  font-size: 25px;
}

h1 {
  font-size: 35px;
}

.todaytemp {
  font-size: 25px;
}